*.out
*.pyc
*.dot
*.pdf
*.npz


log
*.png

*.log
*.pid
testing
*.avi
*.mp4
*.zip
*.osp
assets
README.html

.coverage
htmlcov
mock_data
profile
*.csv

hosts.conf

.results
# mprof output files
*.dat
scripts/*.txt
